ion-tab-bar{
    --color-selected: #000 !important;
    
}

.ion-color-tabs {
    --ion-color-base: var(--ion-color-tabs);
    --ion-color-base-rgb: var(--ion-color-tabs-rgb);
    --ion-color-contrast: var(--ion-color-tabs-contrast);
    --ion-color-contrast-rgb: var(--ion-color-tabs-contrast-rgb);
    --ion-color-shade: var(--ion-color-tabs-shade);
    --ion-color-tint: var(--ion-color-tabs-tint);
  }