ion-title {
    position: absolute;
    top: 0;
    left: 0;
    padding: 0 90px 1px;
    width: 100%;
    height: 100%;
    text-align: center;
}

.ion-color-menu-superior {
    --ion-color-base: var(--ion-color-menu-superior);
    --ion-color-base-rgb: var(--ion-color-menu-superior-rgb);
    --ion-color-contrast: var(--ion-color-menu-superior-contrast);
    --ion-color-contrast-rgb: var(--ion-color-menu-superior-contrast-rgb);
    --ion-color-shade: var(--ion-color-menu-superior-shade);
    --ion-color-tint: var(--ion-color-menu-superior-tint);
}

ion-list ion-card {
    background-color: #e6e6e6;
}