<ion-header>
  <ion-toolbar color="menu-superior">
    <ion-title>Perfil</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list>
    <ion-item>
      <ion-col>Nome do usuário:</ion-col>
      <ion-col slot="end">{{ nome }}</ion-col>
    </ion-item>
    <ion-item>
      <ion-col>E-Mail:</ion-col>
      <ion-col slot="end">{{ email }}</ion-col>
    </ion-item>
  </ion-list>


</ion-content>

<ion-footer>
    <ion-toolbar>
      <ion-button (click)="excluirMinhaConta()" expand="block" color="danger">
          Excluir minha conta
      </ion-button>  
    </ion-toolbar>
  
  </ion-footer>