<ion-header>
  <ion-toolbar color="menu-superior">
    <ion-title>Avaliação Física</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list>
    <ion-item>
      <ion-label>Ombro:</ion-label>
      <ion-input type="number" [(ngModel)]="avaliacao.ombro"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Tórax:</ion-label>
      <ion-input type="number" [(ngModel)]="avaliacao.torax"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Abdomem:</ion-label>
      <ion-input type="number" [(ngModel)]="avaliacao.abdomem"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Quadril:</ion-label>
      <ion-input type="number" [(ngModel)]="avaliacao.quadril"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Braço Direito:</ion-label>
      <ion-input type="number" [(ngModel)]="avaliacao.bracoDireito"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Braço Esquerdo:</ion-label>
      <ion-input type="number" [(ngModel)]="avaliacao.bracoEsquerdo"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Coxa Direita:</ion-label>
      <ion-input type="number" [(ngModel)]="avaliacao.coxaDireita"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Coxa Esquerda:</ion-label>
      <ion-input type="number" [(ngModel)]="avaliacao.coxaEsquerda"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Perna Direita:</ion-label>
      <ion-input type="number" [(ngModel)]="avaliacao.pernaDireita"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Perna Esquerda:</ion-label>
      <ion-input type="number" [(ngModel)]="avaliacao.pernaEsquerda"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Peso:</ion-label>
      <ion-input type="number" [(ngModel)]="avaliacao.peso"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Altura:</ion-label>
      <ion-input type="number" [(ngModel)]="avaliacao.altura"></ion-input>
    </ion-item>

  </ion-list>

</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-button color="menu-superior" (click)="salvarAvaliacao()" expand="block" color="light">Salvar</ion-button>
  </ion-toolbar>
</ion-footer>