  
   ion-label {
    display: inline-block;
    margin-left: 4%;
   }

   .ion-color-tabs {
      --ion-color-base: var(--ion-color-tabs);
      --ion-color-base-rgb: var(--ion-color-tabs-rgb);
      --ion-color-contrast: var(--ion-color-tabs-contrast);
      --ion-color-contrast-rgb: var(--ion-color-tabs-contrast-rgb);
      --ion-color-shade: var(--ion-color-tabs-shade);
      --ion-color-tint: var(--ion-color-tabs-tint);
    }

   .menu-header {
      height: 20%;
      background-color: #453a74;
      padding: 5%;
      
   }

   .img {
      
        max-width:90%;
        max-height:80%;
        margin: 0 auto;
        margin-top: 2%;
        margin-left: 35%;
   }
